*
!.gitignore
!assets/
!assets/*
!Dockerfile.sh
!spark-master/
!spark-master/Dockerfile.sh
!spark-worker/
!spark-worker/Dockerfile.sh
!spark-base/
!spark-base/*
!README.md
!*.sh

!spark-scala-submit/
!spark-scala-submit/*
!learn-spark/
!learn-spark/*

**Dockerfile
